{{ define "main"}}
    <main id="main">
      <div>
        <style>
        h1 {
       	 text-align: center;
        }
         h2 {
                text-align: center;
        }

        <title>Page doesn't exist</title>
        </style>
        </head>
        <body style="background-color:#343a40;"><font color="gray">
        <h1>Page doesn't exist</h1>
        <p style="text-align:center;"><img src="/mechspdr404.png" alt="Page Not Found 404" width="500"
                height="500">
       <h3>
           The best alternative would be to return <a href="/" style="color: #30638E" target="_blank">home</a> and try again.
       </h3>
        </body>
      </div>
    </main>
{{ end }}
