+++
title = "RKey Tech"
linkTitle = "RKey Tech"

+++

{{< blocks/cover title="Welcome to RKey Tech" image_anchor="center" height="full" color="dark" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Docs <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/blog" >}}">
		Blog <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5"></p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="dark" %}}
This site is home to ***Robyn Key***: Providing personal documentation on ***projects***; A ***semi-personal blog***; ***About information*** and a future ***Community section*** for sharing projects.
{{% /blocks/lead %}}

{{< blocks/section color="gray" >}}
{{% blocks/feature icon="fa-lightbulb" title="Site Release Updates!" url="/blog/releases/"%}}
Release notes on this site.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-lightbulb" title="Personal Blog" %}}
I wanted to keep my ***very*** personal blog <a href="https://r0bwk3y.com" target="_blank" >R0bWK3y</a> seperate from this site, as I'm trying to keep this site fairly reasonable. ***Warning*** I might go off the rails a bit on the personal site.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow me on Twitter!" url="https://twitter.com/rkey_tech" %}}
For updates on this site, personal blog and all around mis-givings.
{{% /blocks/feature %}}


{{< /blocks/section >}}
